<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity android:name=".TestActivity2BlurBg" />
        <activity android:name=".TestActivity2" />
        <activity android:name=".testCanDragLayout.TestDragViewActivity" />
        <activity android:name=".testVerticalScrollView.TestActivity3" />


        <activity android:name=".testBlurAndGlass.BlurGlassSoOnActivity" />
        <activity android:name=".testBlurAndGlass.MainActivity_Blur2">
            <!--模糊背景界面-->
        </activity>
        <activity android:name=".testBlurAndGlass.MainActivity_Blur"></activity>
        <activity android:name=".testBlurAndGlass.MainActivity_Broken"></activity>

        <!--textview中制定字段变红-->
        <activity android:name=".testBlurAndGlass.MainActivityColor"></activity>

        <!--3d滚动的listview-->
        <activity android:name=".testBlurAndGlass.MainActivity3DListview"></activity>
        <!--搜索结果中指定字段变色-->
        <activity android:name=".testBlurAndGlass.MainActivitySearchTextColor" />
        <!--自定义图片滤镜效果-->
        <activity android:name=".testBlurAndGlass.MainActivityImgFliter" />
        <!--自定义图片滤镜效果,通过颜色矩阵-->
        <activity android:name=".testBlurAndGlass.MainActivityImgFliter_JuZhen" />

        <activity android:name=".testCanDragScrollView.DraggableScrollViewAct" />

        <activity android:name=".testCenterRefresh.CollapsingToolbarLayoutActivity" />
        <activity android:name=".testCenterRefresh.CollapsingRecyclerActivity" />

        <activity android:name=".testPictureSelect.TestPictureSelectAct" />
        <activity android:name=".testPictureSelect.PicturePreviewActivity" />
        <activity android:name=".testPictureSelect.PictureVideoPlayActivity" />

        <activity
            android:name=".testSpecialEditLayout.SpecialEditLayoutAct"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity android:name=".testGiftAnim.TestGiftAnimAct" />
        <activity android:name=".testGiftAnim.GiftAnimActivity" />

        <activity android:name=".testShader.TestShaderAct" />

        <activity android:name=".testDatePicker.CreateInfoAct" />
        <activity android:name=".testNCalendar.TestNCalendarAct" />

        <activity android:name=".testSpecialEditLayout.popupList.TestPopupListActivity" />

        <activity android:name=".testMap.TestMapAct"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>

        <activity android:name="com.testdemo.testFlipView.TestFlipperActivity" />


        <activity android:name=".testMap.places.MainActivity" />
        <activity android:name=".testMap.places.AutocompleteTestActivity" />
        <activity android:name=".testMap.places.CurrentPlaceTestActivity" />
        <activity android:name=".testMap.places.PlaceAndPhotoTestActivity" />

    </application>

</manifest>
