<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.testdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 安卓10及更高版本的属性，以便系统启动与时效性通知关联的全屏 Activity-->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config_debug"
        android:requestLegacyExternalStorage="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <uses-library android:name="android.test.runner"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="testJava.TestCoroutinesInActivity"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!--<meta-data
            android:name="com.testdemo.framework.glide.CustomGlideConfig"
            android:value="GlideModule"/>--> <!--为什么参考的Demo中是用GlideModule？而且4.*的高版本好像不需要这个了！-->


        <activity android:name=".testAnim.AnimationSetsAct" />

        <activity android:name=".TestActivity2BlurBg" />
        <activity android:name=".TestAnimationDialogAct" />
        <activity android:name=".testCanDragLayout.TestDragViewActivity" />
        <activity android:name=".testVerticalScrollView.TestMyVerticalViewPageAct" />
        <activity android:name=".testVerticalScrollView.viewPager2.TestViewPager2Act" />

        <activity android:name=".testBlurAndGlass.BlurGlassSoOnActivity" />
        <activity android:name=".testBlurAndGlass.MainActivity_Blur2" />
        <!--模糊背景界面-->
        <activity android:name=".testBlurAndGlass.MainActivity_Blur" />
        <activity android:name=".testBlurAndGlass.MainActivity_Broken" />

        <!--textview中制定字段变红-->
        <activity android:name=".testBlurAndGlass.MainActivityColor" />

        <!--3d滚动的listview-->
        <activity android:name=".testBlurAndGlass.MainActivity3DListview" />
        <!--搜索结果中指定字段变色-->
        <activity android:name=".testBlurAndGlass.MainActivitySearchTextColor" />
        <!--自定义图片滤镜效果-->
        <activity android:name=".testBlurAndGlass.MainActivityImgFliter" />
        <!--自定义图片滤镜效果,通过颜色矩阵-->
        <activity android:name=".testBlurAndGlass.MainActivityImgFliter_JuZhen" />

        <activity android:name=".testCanDragScrollView.DraggableScrollViewAct" />

        <activity android:name=".testCenterRefresh.CollapsingToolbarLayoutActivity" />
        <activity android:name=".testCenterRefresh.CollapsingRecyclerActivity" />
        <activity android:name=".testNestedScroll.TestNestedScrollAct" />
        <activity android:name=".testNestedScroll.behavior.CustomBehaviorActivity" />
        <activity android:name=".testNestedScroll.raw.CollapsableScrollAct" />

        <activity android:name=".testPictureSelect.TestPictureSelectAct" />
        <activity android:name=".testPictureSelect.PicturePreviewActivity" />
        <activity android:name=".testPictureSelect.PictureVideoPlayActivity" />

        <activity
            android:name=".testSpecialEditLayout.SpecialEditLayoutAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".testAnim.svgaAnim.TestGiftAnimAct" />
        <activity android:name=".testAnim.svgaAnim.GiftAnimActivity" />

        <activity
            android:name=".testDatePicker.CreateInfoAct"
            android:screenOrientation="fullSensor" />
        <activity android:name=".testNCalendar.TestNCalendarAct" />

        <activity android:name=".testSpecialEditLayout.popupList.TestPopupListActivity" />

        <activity
            android:name=".testMap.TestMapAct"
            android:screenOrientation="portrait" />

        <activity android:name="com.testdemo.testFlipView.TestFlipperActivity" />
        <activity android:name=".architecture.viewmodel.ViewModelAct" />
        <activity android:name=".architecture.TestDataBindingAct" />
        <activity
            android:name=".architecture.SaveStateAct"
            android:launchMode="singleInstance" />

        <activity android:name=".testMap.places.PlacesMainActivity" />
        <activity android:name=".testMap.places.AutocompleteTestActivity" />
        <activity android:name=".testMap.places.CurrentPlaceTestActivity" />
        <activity android:name=".testMap.places.PlaceAndPhotoTestActivity" />

        <activity android:name=".testRecyclerViewType.itemtouchhelperdemo.ItemMoveMainActivity" />
        <activity android:name=".testRecyclerViewType.itemtouchhelperdemo.demodrag.DragActivity" />
        <activity android:name=".testRecyclerViewType.itemtouchhelperdemo.demochannel.ChannelActivity" />
        <activity android:name=".testRecyclerViewType.itemtouchhelperdemo.contactList.TestDragListAct" />
        <activity android:name=".testRecyclerViewType.gridpagersanphelper.vertical.VerticalRVActivity" />
        <activity android:name=".testRecyclerViewType.TestRecyclerViewAct" />
        <activity android:name=".testDateMsgLog.DateMsgLogAct" />

        <activity
            android:name=".testStartMode.ActivityA"
            android:configChanges="orientation|keyboardHidden|locale">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".testStartMode.ActivityB" />
        <activity android:name=".testAnim.ConstraintAnimAct" />
        <activity
            android:name=".testAnim.activityAnim.DialogActivity"
            android:theme="@style/DialogActivityStyle" />

        <activity android:name="com.testdemo.testView.shader.TestShaderAct" />
        <activity android:name=".OutlineAct" />
        <activity android:name="com.testdemo.testView.canvas.TestCanvasActivity" />
        <activity android:name="com.testdemo.testView.doodle.TestDoodleAct" />
        <activity android:name=".testView.nineView.TestNineViewAct" />
        <activity android:name=".testView.floatView.TestFloatViewActivity" />

        <activity android:name=".webrtc.webrtctest.TestAVChatActivity" />
        <activity
            android:name=".webrtc.webrtclib.ui.GroupAVChatActivity"
            android:configChanges="locale|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity android:name=".fileAccess.FileAccessMenuAct" />
        <activity android:name=".fileAccess.media.ShowRecentMediaAct" />

        <activity android:name=".testEvent.eventdispatch.TouchEventDispatchTest" />

        <service android:name=".architecture.AVChatService" />

<!--     据说能开机启动？   -->
        <receiver android:name="BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
